<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Layout/ResourcesLayout :: head">
    <meta charset="utf-8">
    <title>Yupana</title>
</head>

<body>
    <header id="header" class="fixed-top header-inner-pages" th:fragment="header">
        <div id="nav-user">
            <div id="profile-more" class="hide-mobile">
                <i class="fas fa-user-circle"></i> <span id="t-username">
					user.name </span>
            </div>
            <a th:href="@{/mystore/clients/}">
                <div class="mobile">
                    <i class="fas fa-user-circle"></i> <span> user.name <span>
				</div></a>
			<div class="more hide-mobile">
				<a th:href="@{/mystore/clients/}"><div>
						<i class="fas fa-id-badge"></i>Ir a perfil
					</div></a> <a th:href="@{/index}" id="log-out"><div>
						<i class="fas fa-sign-out-alt"></i> <span>Cerrar sesión </span>
                </div>
            </a>
        </div>
        </div>
        <nav>
            <ul>
                <a th:href="@{/records}">
                    <li><i class="fas fa-book"></i>
                        <span>Registros</span></li>
                </a>
                <a th:href="@{/clients}">
                    <li><i class="fas fa-address-book"></i>
                        <span>Clientes</span></li>
                </a>
                <a th:href="@{learn_more}">
                    <li><i class="fas fa-graduation-cap"></i>
                        <span>Aprende más </span></li>
                </a>
            </ul>
        </nav>
        <div class="nav-title">
            <img src="../assets/images/Yupana-logo_b_512x512.png" alt="logo Yupana" class="icon">
            <img src="../assets/images/Yupana-txt_w_512x256.png" alt="texto Yupana" class="text">
        </div>
    </header>
</body>
<footer th:replace="Layout/ResourcesLayout :: footer"></footer>

</html>