.constant {
	margin-top: 3.25em;
	background: #77727c; /*#6B597A;*/
	color: rgba(255, 255, 255, 0.75);
	position: fixed;
	width: 100%;
	z-index: 1110;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
}
.constant .resume > h1 {
	padding-bottom: 0px;
	font-size: 1.5em;
}
.constant > div:first-child { padding: 0.5em 2em 0.25em; }
.constant .resume > h1 span, .constant .resume > div > div:last-child span {
	font-size: 1.2em;
	font-weight: bold;
	color: #FFFFFF;
}

.constant nav ul {
	display: flex;
	justify-content: stretch;
	text-transform: uppercase;
}
.constant nav ul a {
	cursor: pointer;
	padding: 0.5em 1em;
	text-align: center;
	width: 33%;
	background: #77727c;/*#6B597A;*/
	font-weight: bold;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 0.25em solid #77727c;/*#6B597A;*/
	transition: background 0.25s;
}
.constant nav ul a:hover, .constant nav ul a:active {
	background: rgba(240,238,241,0.1);
	border-bottom-color: rgba(240,238,241,0.5); /*rgba(107, 89, 122, 0.5)*/
	padding-bottom: 0px;
}

.constant nav ul a.active {
	/*background: rgba(73, 175, 201, 0.1);*/
	border-bottom-color: #FFB169;/*#49AFC9;*/
	color: #FFFFFF;/*#49AFC9;*/
	padding-bottom: 0px;
}


.content { flex-direction: column; }
.content > section {
	margin-top: 12em;
	display: flex;
	flex-flow: column;
	align-items: center;
}


.content > section main.container { margin-top: 0px; }
.content > section:not(#h-registros) main.container, section:not(#h-registros) section.cards { margin: 0px auto; }

/* h-registros */
.content > section#h-registros {
	flex-flow: row;
	align-items: flex-start;
}
.content > section#h-registros main.container { margin-top: 3.35em; }
.content > section#h-registros section.filters {
	margin-top: -0.25em;
	height: calc(100% - 8.5em);
}
.content > section#h-registros section.actions {
    margin-top: 0px;
    top: 11.75em;
}
.content > section#h-registros section.actions .new { margin-top: calc(3.75em * 4); }




/*short filter*/

section.time-actions, .short-filter {
	display: flex;
	align-items: baseline;
	column-gap: 2em;
}
section.time-actions {
	justify-content: space-between;
	margin-bottom: 2em;
}
.short-filter { }



/* historiales con linea */
section.timeline {
	display: flex;
	justify-content: space-between;
	column-gap: 2em;
}

.history-line {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	width: fit-content;
	text-transform: uppercase;
	/*height: 100%;*/
}
.history-line > div span {
	display: block;
	font-weight: bold;
}
.history-line .ran-line {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
}
.history-line .ran-line .circle {
	width: 16px;
	height: 20px;
	border-radius: 1em;
}
.history-line .ran-line .circle:first-child { background-color: #6B597A; }
.history-line .ran-line .circle:last-child { background-color: #CCCCCC; }
.history-line .ran-line .rectangle {
	width: 0.5em;
	min-height: 1em;
	height: 100%;
	margin-top: -0.25em;
	margin-bottom: -0.25em;
	background-color: #6B597A;
	background: transparent linear-gradient(180deg, #6C5B7D 0%, var(--unnamed-color-cccccc) 100%) 0% 0% no-repeat padding-box;
	background: transparent linear-gradient(180deg, #6C5B7D 0%, #CCCCCC 100%) 0% 0% no-repeat padding-box;
}


/* cards */
section .cards { padding-right: 0px; }
section.timeline section.cards > div.card:first-child { border: 2px solid #6B597A; }


/*cards registros cliente*/
section .cards.client .card .details div:first-child { order: 1; }
section .cards.client .card .details div:first-child .r-code { order: 1; }
section .cards.client .card .details div:first-child h1 { order: 2; }
section .cards.client .card .details div:first-child .subdet { order: 3; }

section .cards.client .card.easy .details div.date { order: 2; }
section .cards.client .card.easy .details div.money.debt { order: 3; }

section .cards.client .card.det .details div.tInterest { order: 2; }
section .cards.client .card.det .details div.money.debt { order: 3; }
section .cards.client .card.det .details div.date { order: 4; }
section .cards.client .card.det .details div.ti { order: 5; }
section .cards.client .card.det .details div.descrip { order: 6; }

section .cards.c-credit .card .details { flex-wrap: wrap; }
section .cards.c-credit .card .details div:first-child { order: 1; }
section .cards.c-credit .card .details div.date { order: 2; }
section .cards.c-credit .card .details div.tInterest { order: 3; }
section .cards.c-credit .card .details div.money { order: 4; }
section .cards.c-credit .card .details div.ti { order: 5; }

section .cards.c-delivery { min-width: 50%; }



/* Forms */
.content > main.container {
	margin-left: auto;
	margin-top: 7.75em;
}
main.container form, main.container p { max-width: 42em; }

main.container > section:nth-child(2) .data {
    width: fit-content;
    margin: 0px auto;
}

main.container > section > form:not(#frm-pagination) {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
}

main.container section .footer {
    max-width: fit-content;
    margin: 1em auto;
    column-gap: 4em;
}

.pop-content {
	display: flex;
	flex-flow: column;
	margin: 0px auto;
	width: fit-content;
	row-gap: 0.5em;
}
.pop-content > label { font-weight: bold; }
.pop-content > label > span {
	font-weight: normal;
	font-size: 1.1em;
	margin-left: 1em;
}