/*
#6B597A		morado
#F8F8F8     casi blanco
#FFB169			acento naranja
#49AFC9			turquesa
#F67280			rojo
*/


/*Paginas en general*/
header {
	position: fixed;
	width: 100%;
	height: fit-content;
	top: 0;
	left: 0;
	right: 0;
	align-items: stretch;
	z-index: 1120;
	background: rgb(73,175,201);
	background: linear-gradient(90deg, rgba(73,175,201,1) 0%, rgba(255,177,105,1) 100%);
	color: #fff;
	text-transform: uppercase;

	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
header .nav-title {
	margin-bottom: 1em;
	display: flex;
	flex-flow: row;
	align-items: center;
	font-weight: 700;
	font-size: 1.2em;
	align-items: center;
	margin-bottom: 0px;
	padding: 0.25em 1em;
}
header .nav-title img {
	height: 2em;
	margin-right: 0.5em;
	/*background-color: #eee;*/
}
header .nav-title img.icon {
	width: 2em;
	border-radius: 50%;
}
header, header nav ul {
	display: flex;
	flex-flow: row;
	flex-direction: row-reverse;
	justify-content: space-between;
}
header nav ul { align-content: stretch; }
header nav ul, header div {
	align-items: baseline;
	font-weight: bold;
}
header nav li, header #nav-user div#profile-more, header #nav-user .mobile, header #nav-user div.more div {
	padding: 1em 2em;
	transition: background-color 0.25s;
	cursor: pointer;
}
header nav li:hover, header nav li:active, header #nav-user:hover, header #nav-user:active, header #nav-user .more div:hover, header #nav-user .more div:active { background-color: rgba(107, 89, 122, 0.5); }
header .active { background-color: #FFB169; }
header nav li i, header #nav-user i { margin-right: 0.5em; }

header #nav-user div.more {
	position: absolute;
	background: rgb(73,175,201);
	display: none;
	right: 0;
}
header #nav-user div.more div { padding: 1em 1.8em; }
header #nav-user div {}

main.container {
	margin: 3em auto 0px;
	width: calc(100% - 6em);
	z-index: 0;
}

footer {
	width: calc(100% - 9em);
	margin: 4em 4.5em 2.5em;
}


@media (max-width: 990px) {
	header { font-size: 0.95em; }
	header nav ul li { padding: 1em; }
}

@media (max-width: 870px) {
	main.container {
		width: 100%;
		max-width: calc(100% - 5em);
	}
	
}

@media (max-width: 680px) {
	header .nav-title img.text { display: none; }
}

@media (max-width: 640px) {
	header .nav-title { font-size: 0.9em; }
	header nav ul li {
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	header nav ul li i { margin-right: 0px }
	header nav ul li i.fas, header #nav-user i.fas {
		display: inline;
	}
	header nav ul li > span, header #nav-user #profile-more span, header #nav-user .mobile span { font-size: 0.8em; }
}


@media (max-width: 550px) {
	header {
		justify-content: center;
		bottom: 0;
		top:  auto;
	}
	header .nav-title span { display: none; }
	header nav ul { justify-content: space-around; }
	header nav ul li, header #nav-user #profile-more, header #nav-user .mobile { padding:  0.75em; }
	header #nav-user div {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	main.container {
		max-width: calc(100% - 2em);
		margin: 0px;
		margin-bottom: 3.4em;
		padding: 2em 1em 6em;
	}
	footer {
		width: 100%;
		margin: 4em 0px 2.5em;
	}
}

@media (max-width: 350px) {
	header nav ul li { font-size: 1.1em; }
}