@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');


*{
	margin:  0px;
	padding: 0px;
	text-decoration: none;
	border:  none;
	outline: none;
	list-style: none;
	color: inherit;
	font-family: 'Open Sans', 'Two Cent Men', 'Questrial', Helvetica, sans-serif;
}
/*
#6B597A		morado  rgba(107, 89, 122, 0.1)
rgb(240,238,241) morado con bblanco
#77727c morado verdoso
#F8F8F8     casi blanco
#FFB169			acento naranja
#49AFC9			turquesa
#F67280			rojo
*/
html, body {
	height: 100%;
	width: 100%;
	font-size: 10pt;
	color: #6B597A;
}
hr {
	border-top: 1px #ccc solid;
	margin: 0.5em 0px;
}
h1,h2,h3,h4,h5,h6,legend {
	/*padding-top: 0.5em;*/
	padding-bottom: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Poppins', 'Two Cent Men', 'Questrial', Helvetica, sans-serif;
	margin: 0px auto;
}
a { font-weight: 700; }
h1 { font-size: 2em; text-align: center; }
h2 { font-size: 1.1em; }
h3, legend { font-size: 1em; }
h4 { font-size: 0.9em; }
/*a, i,b,strong, span { color:  inherit; }*/


/* scroll */

::-webkit-scrollbar {
	width: 0.75em;     /* Tamaño del scroll en vertical */
	height: 0.75em;    /* Tamaño del scroll en horizontal */
    /*display: none;  /* Ocultar scroll */*/
}
::-webkit-scrollbar-thumb { /* adelante */
	/*background: #49AFC9;*/
	background: rgb(73,175,201);
	background: linear-gradient(rgba(255,177,105,1) 0%, rgba(73,175,201,1) 100%);
	border-radius: 1em;
	border: 1px solid #F8F8F8;
	-webkit-box-shadow: 0px 0px 4px rgba(107, 89, 122, 0.5);
	-moz-box-shadow: 0px 0px 4px rgba(107, 89, 122, 0.5);
	box-shadow: 0px 0px 4px rgba(107, 89, 122, 0.5);
}
::-webkit-scrollbar-track { /* atras */
	/*background-color: rgba(107, 89, 122, 0.5);*/
	/*background-color: rgb(240,238,241);*/
	background-color: #bcb2c4;
}


/* seleccion */

::-moz-selection { background: #49AFC9; color:#fff; }
::selection { background: #49AFC9; color:#fff; }
input[type="date"]::selection { background: #49AFC9; color:#fff; }


.ui-tooltip {
	background: #4a4a4a;
	color: #96f226;
	border: 2px solid #454545;
	border-radius: 0px;
	box-shadow: 0 0 ;
}
.ui-autocomplete {
	background: #4a4a4a;
	border-radius: 0px;
}
.ui-autocomplete.source:hover { background: #454545; }
.ui-menu .ui-menu-item a{
	background:red;
	height:10px;
	font-size:8px;
}



.content {
	margin:  0px auto;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	width: 100%;
	height: 100%;
	/*align-items: stretch;*/
}

.container {
	padding: 2em 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
}
.description {
	/*column-count: 2; column-gap:  2em;*/
	text-align: justify;
	text-justify: inter-word;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/*align-items: baseline;*/
	align-items: center;	
	column-gap: 0.5em;
}
.row-always {
	flex-direction: row !important;
	flex-flow: row !important;
}
/*.row > :not(:first-child) { margin-left: 2em; 	}*/

.center {
	align-self: center;
	margin-right: auto;
	margin-left: auto;
}

.mincnt { width: min-content; }

.txt-center { text-align: center; }
.txt-upper { text-transform: uppercase; }
.txt-capitals { text-transform: capitalize; }

.shorter {max-width: 5em;}
.short {max-width: 8.5em;}
.long {min-width: 15em;}
.longer {min-width: 25em;}


.icon-circle { border-radius: 50%;
 background-color: transparent;
 min-width: 2.64em;
}

.border-solid, .icon-circle { border: solid 2px #fff; }
.border-dashed { border:  dashed 2px #888; }

.border-solid:hover,  .border-solid:active, .btnCircleActive {
	color:  rgb(250, 1, 7);
	border-color: rgb(250, 1, 7);
}
/*#F8F8F8     casi blanco*/
.color-accent-bg { background-color: #FFB169; color: #fff; }
.color-accent-txt { color: #FFB169; }
.color-secondary-bg { background-color: #49AFC9; color: #fff; }
.color-secondary-txt { color: #49AFC9; }
.color-secondary-txtlink { background-color: transparent; color: #49AFC9; }
.color-alarm-bg { background-color: #F67280; color: #fff; }
.color-alarm-txt { color: #F67280; }

.mobile { display: none; }


span.space1 {
	display: inline-block;
	width: 0.5em;
}

details { font-size: 0.85em }
summary {
	cursor: pointer;
	color: #FFB169;
	font-weight: 700;
}


footer {
	text-align: center;
	align-self: flex-end;
}

/*FORMS*/

button {
	text-transform: uppercase;
	width: fit-content;
	max-width: 18em;
	text-align: center;
	font-weight: 700;
	padding: 1em 1.5em;
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	background-color: #6B597A;
	-webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);

	transform: scale(1);
	transition: 0.25s;
}
button:hover, button:active {
	-webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.33);
	box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.33);
	transform: scale(1.02);
}
button.big { font-size: 0.8em; }
button i { padding-left: 0.5em; }

/*
.btn-icon {
	display: inline-block;
	line-height: 1em;
	padding: 0px;
	margin: 0.2em; 
	font-size: 1.5em;
	min-width: 1em !important;
	width: 1.2em !important;
	height: 1.2em !important;
	background-color: transparent;
}*/
button.btn-icon i {padding: 0px;}

form label {
	line-height: 1.75em;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
form label span { margin-right: 1em; }
input, select, .select, textarea {
	background-color: #f8f8f8;
	border-radius: 1em;
	/*border-bottom: 2px solid #6B597A; /*(107, 89, 122)*/
	transition: background-color 0.25s;
	z-index: 20;
	color: #6B597A;
	font-size: 1em;
}
input, select, textarea{
	padding-inline-end: 0.5em;
	padding-inline-start: 0.5em;
}
textarea {
	width: 100%;
	padding-inline-start: 0.2em;
	padding-inline-end: 0.2em;
	resize: vertical;
}
input, select, .select {
	width: 16em;
	line-height: 1.5em;
	text-align: center;
}
input[readonly] {
	background-color: #ccc;
	min-width: fit-content;
	width: fit-content !important;
}
input[type="date"] { min-width: 10em;}
input[type="checkbox"] { width: 1em; margin-right: 1em; }
.checkbox, .checkbox i { cursor: pointer; color: #49AFC9; }
.checkbox i { margin-left: 0px; }
.checkbox { font-size: 1.5em; }

select, .select {text-align: center !important}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(107, 89, 122, 0.5); opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(107, 89, 122, 0.5);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(107, 89, 122, 0.5);
}
input:focus, select:focus, div.select:hover, textarea:focus {
	/*border-color: #49AFC9;*/
	/*background-color: rgba(107, 89, 122, 0.1);*/
	background-color: rgb(240,238,241);
}
	/*input[type=text]*/

form div.select { 
	cursor: pointer;	
	height: 1.5em;
	margin: 0px !important;
	transition: border-radius 0.8s;
}
form div.select.opened {
	z-index: 990;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	transition: border-radius 0.1s;
}

form .select div.selected {
	width: fit-content;
	margin:  0px auto;
	height: 1.5em - 2px;
	position: relative;
	line-height: 1.5em;
	align-items: baseline;
	width: 100%;
	justify-content: center;
}

form .select div.selected i {
	margin-right: 0.5em;
	position: absolute;
	right: 0;
	top: 0.25em;
}

form label i {
	margin-left: -2em;
	color: rgba(107, 89, 122, 0.5);
}

form .select ul {
	display: none;
	width: 100%;
  background-color: #f8f8f8;
  /*margin-top: calc(0.2em + 2px);*/
  z-index: 999 !important;
  border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
	box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
}
/*form div.select.opened ul { display: block; }*/
form .select ul li.option {
	line-height: 1.75em;
	cursor: pointer;
	transition: background-color 0.25s;
}
form .select ul li.option:hover, form .select ul li.option:active { background-color: rgba(107, 89, 122, 0.1); }
form .select ul li.option.selected { background-color: rgba(73, 175, 201, 0.1); }

hr {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
}



table {
	border-collapse: collapse;
	vertical-align:  middle;
	width: fit-content;
	margin: 0px auto;
}
table td { padding: 0.5em 1em; }
table th {
	background-color: rgba(250, 1, 7, 0.75);
	color: #fff;
	padding: 0.33em 1em;
}


@media (max-width: 840px) {
	form label i { margin-left: -1.25em; }
}

@media (max-width: 720px) {
	.content { flex-direction: column; }
	.container { 	padding: 2em; }
	/*.row > :not(:first-child) { margin: 0px; 	}*/
	.alert {	 margin-left: -2.5em; margin-top: -12.5em; width: 6.5em; }
}

@media (max-width: 580px) {
	form label:not(.row-always) {
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
}

 @media (max-width: 550px) {
 	.mobile { display: block; }
 	.hide-mobile { display: none !important; }
 }
