<html>
<head>
	<title>Nuevo cliente</title>
	<link rel="icon" href="../images/Yupana-logo_fc_128x128.png" type="image/png" sizes="32x32 64x64 128x128">
	<meta charset="utf-8" />

	<script src="../scripts/jquery.min.js"></script>
	<script src="../scripts/jquery-3.5.1.min.js"></script>
	<script src="../scripts/setting-ui.js"></script>
	<script src="../scripts/view.js"></script>

	<link rel="stylesheet" type="text/css" href="../styles/styles.css">
	<link rel="stylesheet" type="text/css" href="../styles/styles-pages.css">
	<link rel="stylesheet" type="text/css" href="../styles/styles-regis.css">
	<link rel="stylesheet" type="text/css" href="../styles/styles-client.css">
	<link rel="stylesheet" type="text/css" href="../styles/styles-popups.css">
</head>

<body>
<div class="content app">

<div class="constant">
	<div class="resume">
		<h1>Nueva suscripcion</h1>
	</div>
</div>

<main class="container">

	<section class="page first">
	<h1 id="dd">Nueva suscripción a Delivery</h1>
	<br>
	<form action="" method="post" id="frm-newSuscriptionD">
		<div class="data">
			<label for="client"><span>Cliente</span>
				<select name="client" id="client"  required>
					<option value="none">Elegir cliente</option>
					<option value="codpublicocli1">Cliente1</option>
					<option value="codpublicocli2">Cliente2</option>
				</select>
				<button id="new-client" class="color-secondary-bg">Nuevo Cliente</button>
			</label>
			<label><span>Periodo</span>
				<select name="period" id="period" required>
					<option value="360">Anual</option>
					<option value="180">Semestral</option>
					<option value="120">Cuatrimestral</option>
					<option value="90">Trimestral</option>
					<option value="60">Bimestral</option>
					<option value="30" selected>Mensual</option>
					<option value="15">Quincenal</option>
					<option value="7">Semanal</option>
				</select>
			</label>
			<label for="date"><span>Fecha de emisión</span><input type="date" value="now" required></label>
			<label><span>Monto a cobrar</span>
				<select name="currency" id="currency" required>
					<option value="soles">S/ Soles Peruanos</option>
					<option value="usdollar">$ Dólares Estadounidenses</option>
				</select>
				<input type="number" required>
			</label>
		</div>
	</form>
	<div class="footer a2 row">
		<button name="action" value="cancel" class="close" form="frm-newSuscriptionD">Cancelar</button>
		<button name="action" value="accept" class="psub color-accent-bg" form="frm-newSuscriptionD">Aceptar</button>
	</div>
</section>

<section class="page popup-sub ext">
	<div class="popup-sub int">
		<h1>Suscripción Realizada</h1>
		<div class="pop-content">
			<label>Cliente <span>Nombre_completo_cliente</span></label>
			<label>Periodo <span>Mesual</span></label>
			<label>Fecha de emisión <span>dd/mm/aaaa</span></label>
			<label>Monto a cobrar <span>S/xx.xx</span></label>
		</div>
		<div class="footer a1 row">
			<button name="action" value="accept" class="psub color-accent-bg" form="frm-newSuscriptionD">Aceptar</button>
		</div>
	</div>
</section>


</main>
</div>

</body>
</html> 