<html>

<head>
    <title>Nuevo cliente</title>
    <link th:href="@{/assets/images/Yupana-logo_fc_128x128.png}" type="image/png" sizes="32x32 64x64 128x128" rel="icon">
    <meta charset="utf-8" />

    <link th:href="@{/assets/styles/styles.css}" rel="stylesheet">
    <link th:href="@{/assets/styles/styles-pages.css}" rel="stylesheet">
    <link th:href="@{/assets/styles/styles-regis.css}" rel="stylesheet">
    <link th:href="@{/assets/styles/styles-client.css}" rel="stylesheet">

    <!-- Script JS Files -->
    <script th:src="@{/assets/script/jquery.min.js}"></script>
    <script th:src="@{/assets/script/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/assets/script/setting-ui.js}"></script>
    <script th:src="@{/assets/script/view.js}"></script>
</head>

<body>
    <div class="content app">

        <div class="constant">
            <div class="resume">
                <h1>Nuevo cliente</h1>
            </div>
        </div>
        <section id="nc-datosini" class="page first">
            <main class="container">
                <h1>Datos iniciales</h1>
                <form id="frm-newClient" th:action="@{/mystore/registerNewClient}" method="post" 
                th:object="${clientModel}"  class="center">
                    <label for="nombres"><span>Nombres*</span> 
                    <input
						type="text" name="nombres" th:field = "*{wallet.user.name}" placeholder="Nombres Completos"
						required /></label> 
						<label for="apepat"> 
						<span>Apellido Paterno*</span> 
						<input type="text" name="apepat" th:field = "*{wallet.user.firstLastname}"
						placeholder="Apellido Paterno" required /></label> 
						<label for="apemat">
						<span>Apellido Materno*</span> <input type="text" name="apemat" th:field = "*{wallet.user.secondLastname}"
						placeholder="Apellido Materno" required />
					</label> <label for="docTipo"> <span>Tipo de documento</span> <select
						name="docTipo" th:field = "*{wallet.user.documentType}">
							<option value="dni">DNI</option>
							<option value="pasaporte">Pasaporte</option>
							<option value="ce">CE</option>
					</select>
					</label> <label for="documento"> <span>Número de documento</span> <input
						type="text" name="documento" th:field = "*{wallet.user.documentNumber}" maxlength="15" /></label> 
						<label for="celular"><span>Celular</span> 
						<input type="text"
						name="celular" th:field = "*{wallet.user.cellphone}" maxlength="11"></label> <label><span>Descripción</span>
						<textarea name="description" id="description" th:field = "*{wallet.user.description}" cols="64" rows="2"
							maxlength="60"></textarea> </label>
                    <br>
                    <h1>Valores de crédito</h1>
                    <p class="center">Estos valores aparecerán por defecto cuando se cree un nuevo registro para este cliente.</p>
                    <label for="linea-credit"> <span>Línea de crédito</span>
                     <input	type="number" th:field="*{flow.creditLine}" name="linea-credit"> 
                     <select name="tmoneda" th:field="*{wallet.currencyType}">
							<option value="soles">Soles PE(S/.)</option>
							<option value="usdollar">Dólares USA($)</option>
					</select>
					</label>
                    <label for="ttasa"> <span>Tipo de tasa</span> 
                    <select	name="ttasa" th:field="*{flow.rateType}">
							<option value="simple">Simple</option>
							<option value="nominal">Nominal</option>
							<option value="efectiva">Efectiva</option>
					</select>
					</label>
                    <label for="tcapitaliz"> <span>Capitalización</span> 
                    <select	name="tcapitaliz" th:field="*{flow.capitalization}">
							<option value="1">Diario</option>
							<option value="7">Semanal</option>
							<option value="15">Quincenal</option>
							<option value="30" selected>Mensual</option>
							<option value="60">Bimestral</option>
							<option value="90">Trimestral</option>
							<option value="120">Cuatrimestral</option>
							<option value="180">Semestral</option>
							<option value="360">Anual</option>
					</select>
					</label> <label for="tpago"> <span>Periodo de pago</span> 
					<select	name="tpago" th:field="*{flow.ratePeriod}">
							<option value="1">Diario</option>
							<option value="7">Semanal</option>
							<option value="15">Quincenal</option>
							<option value="30" selected>Mensual</option>
							<option value="60">Bimestral</option>
							<option value="90">Trimestral</option>
							<option value="120">Cuatrimestral</option>
							<option value="180">Semestral</option>
							<option value="360">Anual</option>
					</select>
					</label> <label for="tinteres"> <span>Tasa de Interés (%)</span> <input
						type="number" name="tinteres" th:field="*{flow.interestRate}">
					</label>
                    <br>
                    <br>
                    <section id="nc-cuentamant" class="page">
		<main class="container">
                    <h1>Mantenimiento de cuenta</h1>
                    <label for="mct"> <span>Periodo</span> 
                    <select
						name="mctpago" th:field="*{wallet.maintenancePeriod}">
							<option value="1">Diario</option>
							<option value="7">Semanal</option>
							<option value="15">Quincenal</option>
							<option value="30" selected>Mensual</option>
							<option value="60">Bimestral</option>
							<option value="90">Trimestral</option>
							<option value="120">Cuatrimestral</option>
							<option value="180">Semestral</option>
							<option value="360">Anual</option>
					</select>
					</label> <label for="mccobro"> <span>Monto a cobrar</span> <input
						type="number" th:field = "*{wallet.maintenancePrice}" name="mccobro">
					</label>
					</main>
					</section>
                    <br>
                    <br>
                    <section id="nc-deliverysus" class="page">
				<main class="container">
                    <h2><input type="checkbox" name="myBooleanVariable" th:checked="${deliveryBool}"> Suscripción a delivery</h2>
                    <label for=""> <span>Periodo</span> <select name="dtpago" th:field ="*{subscription.subscriptionPeriod}">
                    		<option value="0">Seleccionar</option>
							<option value="1">Diario</option>
							<option value="1">Diario</option>
							<option value="7">Semanal</option>
							<option value="15">Quincenal</option>
							<option value="30" selected>Mensual</option>
							<option value="60">Bimestral</option>
							<option value="90">Trimestral</option>
							<option value="120">Cuatrimestral</option>
							<option value="180">Semestral</option>
							<option value="360">Anual</option>
					</select>

					</label> <label for="dcobro" > <span>Monto a cobrar</span> <input
						type="number" th:field="*{subscription.amount}">
					</label>
					</main>
                </form>
            </main>
             </main>
            </section>
           
            <div class="footer a2 row">
                <button name="action" value="cancel" class="close" form="frm-newPayment">Cancelar</button>
                <button type="submit" class="next color-accent-bg" form="frm-newClient" >Registrar</button>
            </div>
        </section>


     
       

    </div>

      <script type="text/javascript">
        var tabs = ["nav ul #gt-nc-datosini", "nav ul #gt-nc-creditcond", "nav ul #gt-nc-cuentamant", "nav ul #gt-nc-deliverysus"];
        var tabPages = [".content section#nc-datosini", ".content section#nc-creditcond", ".content section#nc-cuentamant", ".content section#nc-deliverysus"];
        setTabs(tabs, tabPages);
    </script>

</body>

</html>