<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Yupana</title>
<link th:href="@{/assets/images/Yupana-logo_fc_128x128.png}"
	type="image/png" sizes="32x32 64x64 128x128" rel="icon">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv=”Content-Language” content=”es” />
<meta name="theme-color" content="#6B597A">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="manifest" th:href="@{manifest.json}">
<!-- Google Fonts -->
<link
	th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}"
	rel="stylesheet">
<!-- Vendor CSS Files -->
<!-- link th:href="@{/assets/styles/jquery-ui.min.css}" rel="stylesheet"-->
<!--link th:href="@{/assets/styles/jquery-ui.structure.min.css}" rel="stylesheet"-->
<!-- Template Main CSS File -->
<link th:href="@{/assets/styles/styles.css}" rel="stylesheet">
<link th:href="@{/assets/styles/styles-pages.css}" rel="stylesheet">
<link th:href="@{/assets/styles/styles-toogle.css}" rel="stylesheet">
<link th:href="@{/assets/styles/styles-regis.css}" rel="stylesheet">
<link th:href="@{/assets/styles/styles-client.css}" rel="stylesheet">

<!-- Script JS Files -->
<script th:src="@{/assets/script/contr.js}"></script>
<script th:src="@{/assets/script/jquery.min.js}"></script>
<script th:src="@{/assets/script/jquery-3.5.1.min.js}"></script>
<!-- script th:src="@{/assets/script/jquery-ui.min.js}"></script-->
<script th:src="@{/assets/script/setting-ui.js}"></script>
<script th:src="@{/assets/script/view.js}"></script>
</head>
<body>
<div class="content app">
<header>
			<div id="nav-user">
				<div id="profile-more" class="hide-mobile">
					<i class="fas fa-user-circle" th:if="${session.usuario !=null}"></i>
					<span id="t-username" th:text="${session.usuario.user.name}"></span>
				</div>
				<a th:href="@{/mystore/profile}"><div class="mobile">
						<i class="fas fa-user-circle"></i> <span
							th:text="${session.usuario.user.name}"><span>
					</div></a>
				<div class="more hide-mobile">
					<a th:href="@{/mystore/profile}"><div>
							<i class="fas fa-id-badge"></i>Ir a perfil
						</div></a>
					<Form th:action="@{/logout}" method="post" id="logout"></Form>
					<button class="color-secondary-bg" type="submit" form="logout">
						<i class="fas fa-sign-out-alt"></i> Cerrar Sesion
					</button>
				</div>
			</div>
			<!-- a th:href="@{/login}" id="logout"><div><i class="fas fa-sign-out-alt"></i> <span>Cerrar sesión </span></div></a  -->
			<nav>
				<ul>
					<a th:href="@{/mystore/records}"><li><i
							class="fas fa-book"></i> <span>Registros</span></li></a>
					<a th:href="@{/mystore/clients}"><li><i
							class="fas fa-address-book"></i> <span>Clientes</span></li></a>
					<a th:href="@{/mystore/learn_more}"><li><i
							class="fas fa-graduation-cap"></i> <span>Aprende más </span></li></a>
				</ul>
			</nav>
			<div class="nav-title">
				<img src="/assets/images/Yupana-logo_w_512x512.png"
					alt="logo Yupana" class="icon"> <img
					src="/assets/images/Yupana-txt_w_512x256.png" alt="texto Yupana"
					class="text">
			</div>
		</header>
<main class="container">
	<h1>Perfil</h1>
	<p>Tus datos de usuario*</p><br>

	<h2>Datos de usuario</h2>
	<form action="" method="PUT" class="center" id="user_data">
		<label for="nombres"><span>Nombres</span>
		<input type="text" name="nombres" placeholder="Nombres Completos" th:text="${usuario.user.name}" readonly/></label>
		<br/>
		<label for="apepat"><span>Apellido Paterno</span>
		<input type="text" name="apepat" placeholder="Apellido Paterno" th:text="${usuario.user.firstname}" readonly/></label>
		<br/>
		<label for="apemat"><span>Apellido Materno*</span>
		<input type="text" name="apemat" placeholder="Apellido Materno" th:text="${usuario.user.lastname}"readonly/></label>
		<br/>
		<label for="docTipo"><span>Tipo de documento</span>
		<input type="text" name="apemat" placeholder="Apellido Materno" th:text="${usuario.user.documentType}"readonly/></label>
		</label>
		<br/>
		<label for="documento"><span>Número de documento</span>
		<input type="text" name="documento" maxlength="15"  th:text="${usuario.user.documentNumber}"readonly /></label>
		<br/>
		<label for="celular"><span>Celular</span>
		<input type="text" name="celular" maxlength="11"  th:text="${usuario.user.cellphone}"readonly></label>

		<br/><br/><p class="txt-center"><button class="color-accent-bg" >Guardar cambios</button></p>
	</form>

	<hr>

	<h2>Datos de cuenta</h2>
	<form action="" method="put" class="center">
		<label for="username"><span>Nombre de usuario</span>
			<input type="text" name="username"  th:text="${usuario.username}" readonly/></label>
			<br/>
			<label for="email"><span>Correo electrónico</span>
			<input type="email" name="email" th:text="${usuario.email}" readonly/></label>
			<br/>
			<label for="password"><span>Contraseña</span>
			<input type="password" name="password" pattern=".{5,}" th:text="${usuario.password}"readonly/></label>
			<br/>
			
			<br/><br/><p class="txt-center"><button class="color-accent-bg">Guardar cambios</button></p>
	</form>

</main>


</div>
</body>
</html>