<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Layout/ResourcesLayout :: head">
<link th:href="@{/assets/styles/styles-client.css}" rel="stylesheet">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Records</title>
</head>
<body>
	<div class="content app">
	<header>
			<div id="nav-user">
				<div id="profile-more" class="hide-mobile">
					<i class="fas fa-user-circle" th:if="${session.usuario !=null}"></i>
					<span id="t-username" th:text="${session.usuario.user.name}"></span>
				</div>
				<a th:href="@{/mystore/profile}"><div class="mobile">
						<i class="fas fa-user-circle"></i> <span
							th:text="${session.usuario.user.name}"><span>
					</div></a>
				<div class="more hide-mobile">
					<a th:href="@{'/mystore/profile?id=' +${session.usuario.id}}"><div>
							<i class="fas fa-id-badge"></i>Ir a perfil
						</div></a>
					<Form th:action="@{/logout}" method="post" id="logout"></Form>
					<button class="color-secondary-bg" type="submit" form="logout">
						<i class="fas fa-sign-out-alt"></i> Cerrar Sesion
					</button>
				</div>
			</div>
			<!-- a th:href="@{/login}" id="logout"><div><i class="fas fa-sign-out-alt"></i> <span>Cerrar sesión </span></div></a  -->
			<nav>
				<ul>
					<a th:href="@{'/mystore/records?id=' +${session.usuario.id} (orderyby=dateLasts,registerTypeBy=all,payMethodBy=all,rateTypeBy=all,currencyBy=soles)}"><li>
                    <i class="fas fa-book"></i> <span>Registros</span>
					<a th:href="@{/mystore/clients}"><li><i
							class="fas fa-address-book"></i> <span>Clientes</span></li></a>
					<a th:href="@{/mystore/learn_more}"><li><i
							class="fas fa-graduation-cap"></i> <span>Aprende más </span></li></a>
				</ul>
			</nav>
			<div class="nav-title">
				<img src="/assets/images/Yupana-logo_w_512x512.png"
					alt="logo Yupana" class="icon"> <img
					src="/assets/images/Yupana-txt_w_512x256.png" alt="texto Yupana"
					class="text">
			</div>
		</header>
		<section class="filters">
			<div class="row">
				<h2 >Filtros</h2>
				<button id="close-filters" class="btn-icon">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<form id="frm-filter" th:action="@{/mystore/records}">
				<strong>Ordenar por</strong> <label for="orderby"> 
				<input style = "display:none;" th:name = "id" th:value = "${idSession}">
				<select
					name="orderby" id="orderby" th:name= "orderby">
						<option value="dateLasts">Más reciente</option>
						<option value="dateFirsts">Más antiguo</option>
						<option value="deudaMayor">Mayor deuda</option>
						<option value="deudaMenor">Menor deuda</option>
				</select>
				</label> <br> <strong>Filtrar por</strong>
				<div>
					<label> <span>Tipo de registro</span> <select
						name="tiposRegistro" th:name= "registerTypeBy">
							<!--class="select-3"-->
							<option value="all">Todos los tipos de registro</option>
							<option value="credito">Registro de venta al crédito</option>
							<option value="mantenimiento">Mantenimiento de cuenta</option>
							<option value="amortizaciones">Amortizaciones de deuda</option>
					</select>
					</label> <label> <span>Tipo de pago</span> <select name="tiposPago"
						id="" th:name= "payMethodBy">
							<option value="all">Todos los pagos</option>
							<option value="duetoPay">Registros por pagar</option>
							<option value="payed">Registros pagados</option>
					</select>
					</label> <label> <span>Tipo de tasa de interés</span> <select
						name="tiposInteres" id="" th:name= "rateTypeBy">
							<option value="all">Todos los tipos de interés</option>
							<option value="ts">Con Tasa de Interés Simple</option>
							<option value="tc">Con Tasa de Interés Compuesta</option>
							<option value="te">Con Tasa de Interés Efectiva</option>
					</select></label> <label>
						
					</label> <label> <span>Tipo de moneda</span> <select
						name="tipoMoneda" id="" th:name= "currencyBy">
							<option value="soles">S/. PE Soles Peruanos</option>
							<option value="usdollar">$ USD Dollar</option>
					</select>
					</label>
				</div>
				<button type="submit" id="filter" th:href="@{appname(form='')}">
					<span>Filtrar</span> <i class="fas fa-filter"></i>
				</button>
			</form>
		</section>

		<section class="actions row">
			<button id="new-more">
				Nuevo<i class="fas fa-plus"></i>
			</button>
				
			<div class="new">
				<a th:href="@{'newSell?id=' + ${idSession}}"> <button id="newSell"  >
					Nueva venta <i class="fas fa-cart-plus"></i>
				</button>
				</a>
			</div>
			<div class="cards row">
				<button id="view" value="todet">
					Mostrar detalles <i class="fas fa-eye"></i>
				</button>
				<button id="export" ype=”button” value=”Imprimir” onclick="window.print()">
				<a th:href="@{/mystore/enviarReporte}"> Exportar</a> <i class="fas fa-download"></i></button>
			</div>
		</section>


		<main class="container">
			<h1>Registros</h1>
			<br>

			<!-- cards -->
			<section class="cards" id="c-records">

				<div class="card easy center" th:each="registro : ${transactions}">
					<!--det o easy-->
					<div class="top">
						<h1 th:text="${registro.transactionName}"></h1>
						<div class="r-code">
							Código de registro <span th:text="${registro.id}"></span>
						</div>
					</div>
					<div class="details">
						<div class="client">
							Cliente <span><a href="#"
								th:text="${registro.flow.wallet.user.firstLastname}+' '+${registro.flow.wallet.user.secondLastname}+' '+${registro.flow.wallet.user.name}"></a></span>
						</div>
						<div class="date tosmall">
							<!--tonormal-->
							Fecha de emisión: <span th:text="${registro.transactionDate}"></span>
						</div>
						<div class="tInterest tohide">
							Tipo de interés <span th:text="${registro.rateType}"></span> <span
								class="subDet" th:text="${registro.capitalization}"></span>
						</div>
						<div class="ti tosmall tohide">
							Tasa de interés <span th:text="${registro.interestRate}"></span>
						</div>
						<div class="money debt">
							<!--debt o payment-->
							<div class="tohide">
								<div class="subDet">
									Monto de venta <span th:text="${registro.netAmount}"></span>
								</div>
							</div>
							<div th:switch="${registro.payType}">
								<p th:case="'credito'">Monto dado a crédito <span
									th:text="${registro.debt}"></span></p>
								<p th:case="'contado'">Monto pagado al contado <span
									th:text="${registro.amountPaid}"></span></p>
								<p th:case="*">Not specified</p>
							</div>
						</div>
						<div class="descrip merge tohide">
							Descripción: <span th:text="${registro.description}"></span>
						</div>
					</div>
				</div>
				<!-- card -->

			</section>

			<br>
			<section class="pagination center">
				<form action="" method="get" class="row" id="frm-pagination">
					<button name="page" value="prev" class="color-secondary-bg">
						<i class="fas fa-chevron-left"></i>
					</button>
					<div class="pages row">
						<button name="page" class="active" value="1">1</button>
						<button name="page" value="2">2</button>
						<button name="page" value="3">3</button>
					</div>
					<button name="page" class="color-secondary-bg" value="next">
						<i class="fas fa-chevron-right"></i>
					</button>
				</form>
			</section>

		</main>

		</div>


</body>
</html>